<h1>Residents</h1>
<p>All residents from secure (admin only) api end point:</p>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Resident</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:15%">Name</th>
            <th style="width:13%">Birth Date</th>
            <th style="width:5%">Age</th>
            <th style="width:5%">Occupation</th>
            <th style="width:5%">Address</th>
            <th style="width:10%">Contact Number</th>
            <th style="width:10%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resident of residents">
            <td>{{resident.title}} {{resident.fullName}} </td>
            <td>{{resident.birthDate | date: 'longDate'}}</td>
            <td>{{resident.age}}</td>
            <td>{{resident.occupation}}</td>
            <td>{{resident.address}}</td>
            <td>{{resident.contactNumber}}</td>
            <td style="white-space: nowrap">
                <a routerLink="resident-details/{{resident.id}}" class="btn btn-sm btn-primary mr-1">Certificate</a>
                <a routerLink="edit/{{resident.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteResident(resident.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="resident.isDeleting">
                    <span *ngIf="resident.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!resident.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>