<h1 *ngIf="isAddMode">Add Resident</h1>
<h1 *ngIf="!isAddMode">Edit Resident</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <input type="hidden" formControlName="residentId" />
        <div class="form-group col-5">
            <label>Purpose of Certificate</label>
            <input type="text" formControlName="certificatePurpose" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.certificatePurpose.errors }" />
            <div *ngIf="submitted && f.certificatePurpose.errors" class="invalid-feedback">
                <div *ngIf="f.certificatePurpose.errors.required">Purpose of Certificate is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/admin/residents" class="btn btn-link">Cancel</a>
    </div>
</form>
