<h1>Resident Data</h1>
<p>
    <strong>Name: </strong> {{resident.fullName}}<br />
    <strong>Birthday: </strong> {{resident.birthDate | date: 'longDate'}} <br />
    <strong>Age: </strong> {{resident.age}} <br />
    <strong>Address: </strong> {{resident.address}} <br />
    <strong>Contact Number: </strong> {{resident.contactNumber}} <br />
    <strong>Latitude: </strong> {{resident.latitude}} <br />
    <strong>Longitude: </strong> {{resident.longitude}}
</p>
<br />
<h1>Certificate Records</h1>
<a [routerLink]="['/admin/resident', resident.id, 'add']" class="btn btn-sm btn-success mb-2">Add Certificate</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:20%">Name</th>
            <th style="width:20%">Certificate Purpose</th>
            <th style="width:20%">Date Issued</th>
            <th style="width:10%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>{{resident.fullName}} </td>
            <td>{{record.certificatePurpose}}</td>
            <td>{{record.createdAt | date: 'longDate'}}</td>
            <td style="white-space: nowrap">
                <button (click)="generateCertificate()" class="btn btn-sm btn-success mr-1">Download</button>
            </td>
        </tr>
    </tbody>
</table>